{% extends 'base.html' %}

{% block content %} 
<!-- Homepage layout pictures -->
<div class="wrapper">
    <img src="https://www.witn.com/resizer/uwPn-sXJ5rvuUrg5py0UK-ardkg=/arc-photo-gray/arc3-prod/public/QEX2ESROTNDRLFWPBKJY5QA5V4.jpg" width="3000" height="1500" class="img-fluid shadow" alt="russian vodka">
</div>
<section id="Gallery" class="bg-dark p-10 p-lg-0 lg-10 text-center text-sm-start">
    <div class="Container-fluid p-5">
        <h2 class="text-center text-light p-5">Photos</h2>
        <div class="row g-4 p-4">
            <div class="col-sm">
                <img src="https://dydza6t6xitx6.cloudfront.net/ci-russian-standard-vodka-abac170442bce359.png" alt="" class="img-fluid shadow-lg p-0">
            </div>
            <div class="col-sm">
                <img src="https://i.ebayimg.com/images/g/BdoAAOSwEVBfKERc/s-l500.jpg" alt="" class="img-fluid shadow-lg p-0">
            </div>
            <div class="col-sm">
                <img src="https://static.foxnews.com/foxnews.com/content/uploads/2022/02/vodka.jpg" alt="" class="img-fluid shadow-lg p-0">
            </div>
        </div>
    </div>
</section>
{% endblock %}
